/* 
1.header
2.main 2.1 design
    2.2 realization
    2.3.multipurpose
    2.4 latest
    2.5 video
    2.6 excellent
    2.7 statistics
    2.8 recent
    2.9 partners
3.footer
4.media
 */
 @font-face {
     font-family: raleway-regular;
     src: url(../fonts/raleway-regular.ttf);
 }
 @font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway-medium.ttf);
}
@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf);
}
@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf);
}
@font-face {
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}
@font-face {
    font-family: montserrat-extralight;
    src: url(../fonts/montserrat-extralight.ttf);
}
@keyframes anim {
    30% {
        background-image: url(../img/browser-left@1X.png), url(../img/browser-center@1X.png), url(../img/browser-right@1X.png);
        background-size: 60%, 40%, 50%;
    } 
    60% {
        background-image: url(../img/browser-right@1X.png), url(../img/browser-left@1X.png), url(../img/browser-center@1X.png);
        background-size: 60%, 50%, 40%;
    }
    90% {
        background-image: url(../img/browser-center@1X.png), url(../img/browser-left@1X.png), url(../img/browser-right@1X.png);
    }
}
.html {
    margin: 0;
    padding: 0;
}
.body-index {
     max-width: 1920px;
     margin: 0 auto;
     font-family: raleway-extrabold, verdana, sans-serif;
 }


 /* ==========================================================  1.header  ========================================================== */


.main-header {
    background-image: linear-gradient( rgba(27, 13, 3, 0.5), rgba(0, 0, 0, 0.3) ), url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #32373D;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}
.main-header-top {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-header-top-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #FFFFFF;
}
.main-header-top-logo:hover .logo-icon,
.main-header-top-logo:hover .logo-txt {
    color: #C7B299;
}
.main-header-top-logo:active .logo-icon,
.main-header-top-logo:active .logo-txt{
    color: #39241A;
}
.logo-icon {
    fill: CurrentColor; 
}
.logo-txt {
    text-decoration: none;
    color: #FFFFFF;  
    font-size: 30px;
    font-family: raleway-regular, verdana, sans-serif;
}
.main-header-top-nav {
    padding: 20px 60px 0 220px;
}
.main-header-top-nav-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-header-top-nav-list {
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding-right: 30px;
    color: #FFFFFF;
}
.header-list1:hover, 
.header-list2:hover,
.header-list3:hover,
.header-list4:hover,
.header-list5:hover,
.header-list6:hover,
.header-list7:hover,
.header-list8:hover {
    color: #C7B299;
}
.header-list1:active, 
.header-list2:active,
.header-list3:active,
.header-list4:active,
.header-list5:active,
.header-list6:active,
.header-list7:active,
.header-list8:active {
    color: #39241A;
}
.main-header-top-basket {
    width: 25px;
    height: 25px;
    margin: 18px 30px 0 0;
    padding: 0;
    border: none;
    color: #FFFFFF;
    background: none;
}
.top-basket {
    fill: CurrentColor;
}
.main-header-top-basket:hover .top-basket {
    color: #C7B299;
}
.main-header-top-basket:active .top-basket {
    color: #39241A;
}
.main-header-top-search-form {
    width: 25px;
    height: 25px;
    margin-top: 18px;
    padding: 0;
    position: relative;
}
.main-header-top-search-lable {
    display: block;
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-header-top-search-lable:hover .top-serch {
    fill: #C7B299;
}
.main-header-top-search-lable:active .top-serch {
    fill: #39241A;
}
.main-header-top-search {
    background-color: transparent;
    width: 25px;
    height: 25px;
    margin-top: 55px;
    border: none;
    outline: none;
    position: absolute;
    top: -14px;
    left: -260px;
    text-transform: capitalize;
}
input[type="search"]:focus {
    width: 300px;
    min-height: 40px;
    transition: width 1s ease;
    background-position: right;
    border: 1px solid #C7B299;
    background-color: transparent;
    color: #C7B299;
}

/* ==============  hide  ================= */

.mob-menu {
    width: calc(98% - 181px);
    max-width: 570px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: none;
}
.mob-menu-btn {
    display: none;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.mob-menu-btn:hover span,
.mob-menu-btn:hover span:before,
.mob-menu-btn:hover span:after {
    background-color: #C7B299;
}
.mob-menu-btn:active span,
.mob-menu-btn:active span:before,
.mob-menu-btn:active span:after {
    background-color: #39241A;
}
.mob-menu-btn span {
    display: block;
    margin: auto;
    width: 100%;
    height: 3px;
    background-color: #C7B299;
    position: relative;
}
.mob-menu-btn span:before,
.mob-menu-btn span:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
}
.mob-menu-btn span:before {
    top: -10px;
}
.mob-menu-btn span:after {
    top: 10px;
}
#mob-menu {
    display: none;
  }
.mob-menu-list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-height: 60px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.mob-menu-list-item {
    display: flex;
    align-items: center;
}
.mob-menu-list-item-link {
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    line-height: 25px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}
  
/* ==============  hide/end  ================= */

.main-header-bottom {
    display: flex;
    justify-content: space-between;
    margin: 310px 0 330px 0;
}
.main-header-bottom-btn {
    display: block;
    position: relative;
    width: 50px;
    height: 80px;
    margin: 40px;
}
.btn-left::before {
    content: "";
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(136deg);
    position: absolute;
    top: 0;
    left: 0;
}
.btn-left::after {
    content: "";
    display: block;
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(45deg);
    position: absolute;
    top: 36px;
    left: 0;
  }
.main-header-bottom-title {
    text-align: center; 
    max-width: 590px;
    max-height: 200px;
    
}
.main-header-bottom-title-desigion {
    color: #FFFFFF;
    font-size: 36px;
    font-family: raleway-regular, montserrat-light, verdana, sans-serif;
    margin: 0;    
}
.main-header-bottom-title-portfolio {
    color: #FFFFFF;
    font-size: 52px;
    font-family: raleway-extrabold, montserrat-light, verdana, sans-serif;
    margin: 0;
    padding: 15px 0 20px;
}
.main-header-bottom-text {
    color: #FFFFFF;
    font-size: 14px;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    margin: 0 0 75px 0;
    max-width: 560px;
}
.main-header-bottom-started {
    padding: 17px 34px;
    background-color: #998675;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 3px solid #4D4643;
    border-radius: 5px;
    box-sizing: border-box;
    word-break: break-all;
} 
.main-header-bottom-started:hover {
    background-color: #FFFFFF;
    color: #998675;
}   
.main-header-bottom-started:active {
    background-color: #4D4643;
    color: #998675;
}   
.main-header-bottom-btn {
    display: flex;
    align-items: center;
}
.btn-right::before {
    content: "";
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
}
.btn-right::after {
    content: "";
    display: block;
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(136deg);
    position: absolute;
    top: 36px;
    left: 0;
  }
.btn-right:hover:after,
.btn-right:hover:before,
.btn-left:hover:after,
.btn-left:hover:before {
    background-color: #C7B299;
  }
.btn-right:active:after,
.btn-right:active:before,
.btn-left:active:after,
.btn-left:active:before {
    background-color: #39241A;
  }
.main-header-bottom-pagination {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0 auto;
    
  }
.pagination-item {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #8F9092;
    border-radius: 50%;
    border: 2px solid transparent;
  }
.pagination-item:hover {
    background-color: transparent;
    border: 2px solid #a89f93;
    transform: scale(1.2)
}

/* ==========================================================  2.main 2.1 design  ========================================================== */


.design {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    background-color: #FFFFFF; 
}
.design-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 30px 112px;
    box-sizing: border-box;
    position: relative;
    max-width: 266px;
}
.design-card:after {
    content: "";
    display: block;
    width: 71px;
    height: 4px;
    background-color: #F1EEE9;
    top: 200px;
    position: absolute;
}
.design-card:hover .design-img {
    fill: #C7B299;
}
.design-card:hover .design-title {
    color: #C7B299;
}
.design-card:hover:after {
    background-color: #C7B299;
}
.design-img {
    fill: #555555;
}
.design-title {
    color: #555555;
    font-family: raleway-semibold, montserrat-light, verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 30px 0 20px;
}
.text {
    color: #8C8C8C;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-size: 16px;
    margin: 0;
}
.design-text {
    font-size: 14px;
    width: 267px;
    text-align: center;  
}

/* ==========================================================  2.2 realization  ========================================================== */


.realization {
    background-color: #FBFAF8;
}
.realization-title {
    font-family: raleway-semibold, montserrat-light, verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #555555;
    margin: 0;
    padding: 84px 0 24px;
}
.realization-text {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.realization-img {
    width: 80%;
    min-height: 345px;
    background-image: url(../img/browser-center@1X.png), url(../img/browser-left@1X.png), url(../img/browser-right@1X.png);
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
    background-size: 51%, 50%, 50%;
    margin: 0 auto 4px auto;
    animation: anim 15s;
    animation-iteration-count: infinite;
}
.realization-img:hover {
    animation-play-state: paused;
}

/* ==========================================================  2.3 multipurpose  ========================================================== */


.multipurpose {
    background: linear-gradient(90deg, #211C19 12.69%, #4D3227 100%);
    display: flex;
    justify-content: space-around;
}
.multipurpose-title {
    margin: 0;
    color: #FFFFFF;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 28px;
    padding: 50px 0 8px;
}
.title-word {
    color: #C3AE96;
}
.multipurpose-text {
    margin: 0;
    color: #605654;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 18px;
    padding-bottom: 50px;
}
.multipurpose-link {
    align-self: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #998675;
    padding: 15px 22px;
    box-sizing: border-box;
    border-bottom: 3px solid #736257;
    border-radius: 5px;
}
.multipurpose-link:hover {
    background-color: #FFFFFF;
    color: #998675;
}   
.multipurpose-link:active {
    background-color: #4D4643;
    color: #998675;
}   


/* ==========================================================  2.4 latest  ========================================================== */


.latest {
    max-width: 1250px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.latest-menu {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 40px auto;
}
.latest-menu-link {
    padding: 11px 25px;
    box-sizing: border-box;
    font-size: 14px;
    color: #8C8C8C;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB; 
    border-radius: 3px;
}
.latest-link1:hover,
.latest-link2:hover,
.latest-link3:hover,
.latest-link4:hover,
.latest-link5:hover {
    background-color: #998675;
    color: #FFFFFF;
    border: 1px solid #998675;
}
.latest-link1:active,
.latest-link2:active,
.latest-link3:active,
.latest-link4:active,
.latest-link5:active{
    background-color:  #39241A;
    border: 1px solid  #998675;
    color: #998675;
}
.latest-all-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.latest-article {
    margin-bottom: 30px;
    position: relative;
}
.latest-article-img {
    display: block;
    width: 100%;
}
.latest-article:hover .latest-article-img {
    filter: brightness(42%);
}
.latest-article-text {
    background-color: #FBFAF8;
    padding: 30px;
    box-sizing: border-box;
}
.latest-article:hover .latest-article-text {
    background-color: #362F2D;
}
.latest-article-text::before {
    content: "";
    border: 19px solid transparent; 
    border-bottom: 15px solid #fbf8fa;
    position: absolute;
    bottom: 115px;
    left: 18px;
}
.latest-article:hover .latest-article-text::before {
    border-bottom: 15px solid #362F2D;
}
.latest-article-header {
    margin: 0 0 14px 0;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 20px;
    color: #C7B299;
}
.latest-article:hover .latest-article-header {
    color: #FFFFFF;
}
.latest-article-span {
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-size: 14px;
    color: #d1d1d1;
}
.latest-article:hover .latest-article-span {
    color: #C7B299;
}
/* ==============  hide  ================= */
.latest-button-link {
    position: absolute;
    bottom: 216px;
    right: 200px;
    background: none;
    border: none;
    fill: #C7B299;
    display: none;
}
.latest-button-search {
    position: absolute;
    bottom: 216px;
    right: 137px;
    background: none;
    border: none;
    fill: #FFFFFF;
    display: none;
}
/* ===================  hide  =================== */
.latest-article:hover .latest-button-link {
    display: block;
}
.latest-article:hover .latest-button-search {
    display: block;
}
.latest-article:hover .latest-button-link:hover {
    background: #FFFFFF;
    border: 1px solid #C7B299;
    border-radius: 5px;
}
.latest-article:hover .latest-button-link:active {
    background: #C7B299;
    border: 1px solid #362F2D;
    border-radius: 5px;
    fill: #362F2D;
}
.latest-article:hover .latest-button-search:hover {
    background: #C7B299;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.latest-article:hover .latest-button-search:active {
    background: #362F2D;
    border: 1px solid #C7B299;
    border-radius: 5px;
    fill: #C7B299;
}
.latest-button-load {
    display: block;
    margin: 0 auto;
    align-self: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #998675;
    padding: 20px 45px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #736257;
    border-radius: 5px;
    font-size: 14px;
    font-family: raleway-extrabold, montserrat-light, verdana, sans-serif;
    margin-bottom: 80px;
}
.latest-button-load:hover {
    background-color: #FFFFFF;
    color: #998675;
}
.latest-button-load:active {
    background-color: #4D4643;
    color: #998675;
}


/* ==========================================================  2.5 video  ========================================================== */


.presentation-video {
    position: relative;
}
.main-video {
    filter: brightness(76%); 
}
.presentation-video-text {
    position: absolute;
    top: 101px;
    left: 357px;
    display: flex;
    flex-direction: column;
    max-width: 550px;
}
.video-button {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}
.video-button-icon {
    fill: #FFFFFF;
}
.video-button:hover .video-button-icon {
    fill: #C7B299;
}
.video-button:active .video-button-icon {
    fill: #4D4643;
}
.video-header {
    margin: 44px 0 30px 0;
    text-align: center;
    font-size: 30px;
    font-family: raleway-extrabold, montserrat-light, verdana, sans-serif;
    color: #FFFFFF;
}
.video-text {
    text-align: center;
    color: #FFFFFF;
}
.video-span {
    text-align: center;
    color: #C7B299;
    font-family: raleway-extrabold, montserrat-light, verdana, sans-serif;
    font-size: 14px;
    margin-top: 40px;
}


/* ==========================================================  2.6 excellent  ========================================================== */


.excellent {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.excellent-img {
    margin-top: 80px;
    margin-right: 30px;
}
.excellent-article {
    max-width: 657px;
    margin-top: 80px;
}
.excellent-title {
    font-family: raleway-semibold, montserrat-light, verdana, sans-serif;
    font-size: 30px;
    text-align: left;
    color: #555555;
    margin: 0;
    padding: 116px 0 40px;
}
.excellent-text {
    text-align: left;
}
.excellent-list {
    color: #8C8C8C;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 16px;
    list-style-type: none;
    margin: 45px 0 0 100px;
    padding: 0;
    line-height: 32px;
}
.excellent-list-item {
    position: relative;
}
.excellent-list-item::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -52px;
    background-image: url(../img/excellent-list-item.png);
    background-size: cover;
}


/* ==========================================================  2.7 statistics  ========================================================== */


.statistics {
    background: linear-gradient(90deg, #211C19 12.69%, #4D3227 100%);
    display: flex;
    justify-content: center;
}
.statistics-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 40px 92px;
    position: relative;
}
.statistics-card:after {
    content: "";
    display: block;
    width: 31px;
    height: 3px;
    background-color: #F1EEE9;
    top: 200px;
    position: absolute;
}
.statistics-img {
    fill: #C7B299;
}
.statistics-number {
    color: #FFFFFF;
    font-size: 48px;
    font-family: montserrat-extralight, raleway-medium, verdana, sans-serif;
    margin: 30px 0 21px;
}
.statistics-text {
    color: #C7B299;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}


/* ==========================================================  2.8 recent  ========================================================== */


.recent {
    background-color: #FFFFFF;   
}
.recent-text {
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}
.recent-all-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.recent-article {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 371px;
    margin: 40px 15px;
    border: 1px solid #F9F9F9;
    box-sizing: border-box;
}
.recent-article-img {
    display: block;
    width: 100%;
}
.recent-article:hover .recent-article-img {
    filter: brightness(40%)
}
.recent-article-wrp {
    display: block;
}
.recent-article:hover .recent-article-wrp {
    background-color: #362f2d;
}
.recent-article-header {
    margin: 30px 0 19px 29px;
    color: #555555;
    font-size: 20px;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
}
.recent-article:hover .recent-article-header {
    color: #c7b299;
}
.recent-article-text {
    margin-left: 29px;
}
.recent-article:hover .recent-article-text {
    color: #FFFFFF
}
.recent-article-link {
    display: block;
    margin: 27px 0 33px 29px;
    color: #c7b299;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    text-decoration: none;
    position: relative;
}
.recent-article-link::after {
    content: "";
    border: 5px solid transparent; 
    border-left: 5px solid #c7b299;
    position: absolute;
    bottom: 3px;
    left: 95px;
}
.recent-article-link:hover {
    color: #FFFFFF;
}
.recent-article-link:hover:after {
    border-left: 5px solid #FFFFFF;
}
.recent-article-link:active {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 60px;
    transform: scale(1.2)
}
.recent-article-link:active:after {
    border-left: 5px solid #FFFFFF;
}
.recent-article-date {
    display: block;
    flex-direction: column;
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.recent-date {
    display: block;
    width: 50px;
    height: 35px;
    background-color: #363636;
    font-size: 24px;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
}
.recent-article:hover .recent-date {
    background-color: #c7b299;
}
.recent-mounth {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #252525;
    font-size: 12px;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
}
.recent-article:hover .recent-mounth {
    background-color: #a48d72;
}
.recent-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.recent-menu-left {
    fill: #d1d1d1;
    margin-right: 8px;
    border: none;
    background: none;
}
.recent-menu-right {
    fill: #d1d1d1;
    border: none;
    background: none;
}
.recent-menu-left:hover {
    fill: #c7b299;
} 
.recent-menu-right:hover {
    fill: #c7b299;
}
.recent-menu-left:active {
    fill: #362f2d;
} 
.recent-menu-right:active {
    fill: #362f2d;
}


/* ==========================================================  2.9 partners  ========================================================== */


.partners {
    background-image: linear-gradient( rgba(27, 13, 3, 0.7), rgba(0, 0, 0, 0.6) ), url(../img/background-last\ .png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #32373D;
    padding: 140px 0;
    box-sizing: border-box;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.partners-img:hover {
    opacity: 0.3;
}
.partners-img:active {
    opacity: 0.8;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transform: scale(1.2)
}


/* ==========================================================  3 footer  ========================================================== */


.main-footer {
    background-color: #191919;
    padding: 80px 0 0;
}
.top-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.top-footer-col {
    max-width: 271px;
    margin-right: 35px;
}
.footer-text {
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-weight: 14px;
    color: #555555;
    text-align: left;
}
.reade-more-link {
    display: block;
    margin-top: 33px;
    color: #FFFFFF;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    text-decoration: none;
    position: relative;
    font-size: 14px;
}
.reade-more-link::after {
    content: "";
    border: 5px solid transparent; 
    border-left: 5px solid #FFFFFF;
    position: absolute;
    bottom: 3px;
    left: 95px;
}
.reade-more-link:hover {
    color: #c7b299;
}
.reade-more-link:hover:after {
    border-left: 5px solid #c7b299;
}
.reade-more-link:active {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 60px;
    transform: scale(1.2)
}
.reade-more-link:active:after {
    border-left: 5px solid #FFFFFF;
}
.footer-header {
    color: #FFFFFF;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    text-align: left;
    font-size: 24px;
    margin: 20px 0 30px;
}
.footer-posts-link {
    text-decoration: none;
}
.footer-posts-time {
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #363636;
    margin-bottom: 10px;
}
.footer-text {
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    text-align: left;
    font-size: 14px;
    color: #555555;
}
.footer-posts-link:hover .footer-posts-time {
    color: #FFFFFF;
}
.footer-posts-link:hover .footer-text {
    color: #C7B299;
}
.footer-posts-link:active .footer-posts-time {
    font-weight: bold;
    transform: scale(1.2)
}
.footer-posts-link:active .footer-text {
    font-weight: bold;
    transform: scale(1.2)
}
hr {
    border: none;
    border-bottom: 3px solid #252525;
    margin: 21px 0;
}
.footer-twitter-link {
    text-decoration: none;
}
.footer-twitter-time {
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #363636;
    margin-top: 11px;
}
.footer-twitter-link:hover .footer-twitter-time {
    color: #FFFFFF;
}
.footer-twitter-link:hover .footer-text {
    color: #C7B299;
}
.footer-twitter-link:active .footer-twitter-time {
    font-weight: bold;
    transform: scale(1.2);
}
.footer-twitter-link:active .footer-text {
    font-weight: bold;
    transform: scale(1.2);
}
.twitter-word {
    color: #00bff3;
}
.twitter-word2 {
    color: #959595;
}
.footer-col-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-img {
    margin-bottom: 7px;
}
.footer-img:nth-child(1),
.footer-img:nth-child(3) {
    margin-right: 7px;
}
.footer-img:hover {
    opacity: 0.2;
}
.bottom-footer {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    box-sizing: border-box;
}
.footer-copy-list {
    display: flex;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    list-style-type: none;
    font-size: 13px;
    margin: 0; 
    padding: 0;  
}
.copy {
    color: #4F4F4F;
    border-right: 1px solid #1E1E1E;
    padding-right: 10px;
}
.copy-span {
    color: #939393;
}
.footer-copy-list-link {
    padding: 0 10px;
    color: #4F4F4F;
    text-decoration: none;
}
.footer-copy-list-link:hover {
    color: #FFFFFF;
}
.footer-copy-list-link:active {
    color: #FFFFFF;
    font-weight: bold;
    transform: scale(1.2);
}
.faq {
    color: #C2AE95;
    border-left: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
}
.copy-fire {
    color: #939393;
}
.footer-copy-list-link:hover .copy-fire {
    color: #FFFFFF;
}
.footer-copy-list-link:active .copy-fire {
    color: #FFFFFF;
    font-weight: bold;
    transform: scale(1.2);
}
.footer-copy-list-link:last-child {
    border-left: 1px solid #1E1E1E;
}


 /* ==========================================================  4. media  ========================================================== */


@media (max-width: 576px) {
.main-header {
    padding: 10px 0;
}
.main-header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}
.main-header-top-nav {
    display: none;
}
.main-header-top-basket {
    display: none;
}
.main-header-top-search-form {
    display: none;
}
.mob-menu {
    width: 17%;
    display: block;
}
.mob-menu-btn {
    display: flex;
}
.mob-menu-list {
    min-height: 0;
    flex-wrap: wrap;
    visibility: hidden;
}
.mob-menu-list-item {
    width: 100%;
}
.mob-menu-list-item-link {
    height: 0;
}
input[type="checkbox"]:checked ~ .mob-menu-list {
    visibility: visible;
    height: auto;
}
input[type="checkbox"]:checked ~ .mob-menu-list .mob-menu-list-item-link {
    height: auto;
}
.main-header-bottom {
    justify-content: center;
    margin: 30px 0;
}
.main-header-bottom-btn {
    display: none;
}
.main-header-bottom-btn {}
.main-header-bottom-title-desigion {
    font-size: 20px;
}
.main-header-bottom-title-portfolio {
    font-size: 26px;
    padding: 5px 0 10px;
}
.main-header-bottom-text {
    font-size: 14px;
    margin: 0;
    max-width: 350px;
}
.main-header-bottom-started {
    display: none;
}
.main-header-bottom-pagination {
    display: none;
}
/* ==================== main design ===================== */
.design {
    flex-wrap: wrap;
}
.design-card {
    margin: 40px 10px 60px;
    max-width: 200px;
}
.design-card:after {
    content: "";
    top: 170px;
}
.design-title {
    font-size: 18px;
    padding: 10px 0;
}
.design-text {
    font-size: 10px;
    max-width: 150px;
}
/* ============= realization multipurpose ============ */
.realization-title {
    font-size: 20px;
    padding: 40px 0 24px;
}
.realization-text {
    max-width: 500px;
    font-size: 14px;
}
.realization-img {
    min-height: 160px;
}
.multipurpose {
    flex-direction: column;
    align-items: center;
}
.multipurpose-title {
    font-size: 20px;
    padding: 40px 0 8px;
    text-align: center;
    box-sizing: border-box;
}
.multipurpose-text {
    font-size: 14px;
    padding-bottom: 50px;
    text-align: center;
}
.multipurpose-link {
    text-transform: uppercase;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 12px;
    margin-bottom: 30px;
}
/* ==================== latest video ===================== */
.latest-menu {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}
.latest-menu-link {
    padding: 8px 15px;
    box-sizing: border-box;
    font-size: 10px;
}
.latest-button-load {
    padding: 15px 40px; 
    font-size: 12px;
    margin-bottom: 30px;
}
.presentation-video-text {
    display: none;
}
/* ================= excellent statistics ================== */
.excellent-img {
    display: none;
}
.excellent-article {
    max-width: 500px;
    margin-top: 40px;
}
.excellent-title {
    font-size: 22px;
    padding: 0 0 10px;
    text-align: center;
}
.excellent-text {
    text-align: center;
    font-size: 12px;
}
.excellent-list {
    font-size: 14px;
    line-height: 28px;
    margin: 29px 0 40px 60px;
}
.statistics {
    flex-wrap: wrap;
}
.statistics-card {
    margin: 40px 20px 70px;
}
.statistics-card:after {
    content: "";
    top: 170px;
}
.statistics-number {
    font-size: 38px;
    margin: 20px 0 15px;
}
/* ================= recent partners ================== */
.recent-text {
    max-width: 500px;
    font-size: 14px;
}
.recent-menu {
    margin-bottom: 40px;
}
.partners {
    flex-wrap: wrap;
    padding: 40px 0;
    box-sizing: border-box;
}
.partners-img {
    margin-bottom: 30px;
}
/* ================= footer ================== */
.main-footer {
    padding: 0;
}
.top-footer {
    display: none;
}
.bottom-footer {
    flex-direction: column;
    padding: 20px 0;
}
.footer-copy-list {
    font-size: 8px;
}
.footer-copy-list:first-child {
    margin-bottom: 10px;
}
}