/* 
1.header
2.main
    2.2 realization
    2.3.multipurpose
    2.4 latest
    2.5 video
3.footer
 */
 @font-face {
     font-family: raleway-regular;
     src: url(../fonts/raleway-regular.ttf);
 }
 @font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway-medium.ttf);
}
@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf);
}
@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf);
}
@font-face {
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}
@keyframes anim {
    30% {
        background-image: url(../img/browser-left@1X.png), url(../img/browser-center@1X.png), url(../img/browser-right@1X.png);
        background-size: 60%, 40%, 50%;
    } 
    60% {
        background-image: url(../img/browser-right@1X.png), url(../img/browser-left@1X.png), url(../img/browser-center@1X.png);
        background-size: 60%, 50%, 40%;
    }
    90% {
        background-image: url(../img/browser-center@1X.png), url(../img/browser-left@1X.png), url(../img/browser-right@1X.png);
    }
}
.body-index {
     max-width: 1920px;
     margin: 0 auto;
     font-family: raleway-extrabold, verdana, sans-serif;
 }


 /* ==========================================================  1.header  ========================================================== */


.main-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient( rgba(27, 13, 3, 0.5), rgba(0, 0, 0, 0.3) ), url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #32373D;
}
.main-header-top {
    display: flex;
    margin: 0 375px 0 375px;
}
.main-header-top-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 40px;
    color: #FFFFFF;
}
.main-header-top-logo:hover .logo-icon,
.main-header-top-logo:hover .logo-txt {
    color: #C7B299;
}
.main-header-top-logo:active .logo-icon,
.main-header-top-logo:active .logo-txt{
    color: #39241A;
}
.logo-icon {
    fill: CurrentColor; 
}
.logo-txt {
    text-decoration: none;
    color: #FFFFFF;  
    font-size: 34px;
    font-family: raleway-regular, verdana, sans-serif;
}
.main-header-top-nav {
    padding-left: 220px;
    padding-top: 62px;
}
.main-header-top-nav-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-header-top-nav-list {
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding-right: 30px;
    color: #FFFFFF;
}
.header-list1:hover, 
.header-list2:hover,
.header-list3:hover,
.header-list4:hover,
.header-list5:hover,
.header-list6:hover,
.header-list7:hover,
.header-list8:hover {
    color: #C7B299;
}
.header-list1:active, 
.header-list2:active,
.header-list3:active,
.header-list4:active,
.header-list5:active,
.header-list6:active,
.header-list7:active,
.header-list8:active {
    color: #39241A;
}
.main-header-top-basket {
    width: 25px;
    height: 25px;
    margin: 62px 27px 0 32px;
    padding: 0;
    border: none;
    color: #FFFFFF;
    background: none;
}
.top-basket {
    fill: CurrentColor;
}
.main-header-top-basket:hover .top-basket {
    color: #C7B299;
}
.main-header-top-basket:active .top-basket {
    color: #39241A;
}
.main-header-top-search-form {
    width: 25px;
    height: 25px;
    margin-top: 62px;
    padding: 0;
    position: relative;
}
.main-header-top-search-lable {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/header-search.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.main-header-top-search {
    background-color: transparent;
    width: 25px;
    height: 25px;
    margin-top: 55px;
    padding: 10px;
    border: none;
    outline: none;
    position: absolute;
    top: -14px;
    left: -260px;
}
input[type="search"]:focus {
    width: 300px;
    min-height: 40px;
    transition: width 1s ease;
    background-position: right;
    border: 3px solid #C7B299;
    background-color: transparent;
    color: #C7B299;
}
.main-header-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-header-bottom-btn {
    position: relative;
    width: 50px;
    height: 80px;
    margin: 40px;
}
.btn-left::before {
    content: "";
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(136deg);
    position: absolute;
    top: 0;
    left: 0;
}
.btn-left::after {
    content: "";
    display: block;
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(45deg);
    position: absolute;
    top: 36px;
    left: 0;
  }
.main-header-bottom-title {
    text-align: center; 
    margin: 285px 300px 328px;
}
.main-header-bottom-title-desigion {
    color: #FFFFFF;
    font-size: 36px;
    font-family: raleway-regular, montserrat-light, verdana, sans-serif;
    margin: 0;    
}
.main-header-bottom-title-portfolio {
    color: #FFFFFF;
    font-size: 52px;
    font-family: raleway-extrabold, montserrat-light, verdana, sans-serif;
    margin: 0;
    padding: 15px 0 20px;
}
.main-header-bottom-text {
    color: #FFFFFF;
    font-size: 14px;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    margin: 0 0 75px 0;
    max-width: 560px;
}
.main-header-bottom-started {
    padding: 17px 34px;
    background-color: #998675;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 3px solid #4D4643;
    border-radius: 5px;
    box-sizing: border-box;
    word-break: break-all;
} 
.main-header-bottom-started:hover {
    background-color: #FFFFFF;
    color: #998675;
}   
.main-header-bottom-started:active {
    background-color: #4D4643;
    color: #998675;
}   
.main-header-bottom-btn {
    display: flex;
    align-items: center;
}
.btn-right::before {
    content: "";
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
}
.btn-right::after {
    content: "";
    display: block;
    width: 52px;
    height: 3px;
    background-color: #A2A19F;
    transform: rotate(136deg);
    position: absolute;
    top: 36px;
    left: 0;
  }
.btn-right:hover:after,
.btn-right:hover:before,
.btn-left:hover:after,
.btn-left:hover:before {
    background-color: #C7B299;
  }
.btn-right:active:after,
.btn-right:active:before,
.btn-left:active:after,
.btn-left:active:before {
    background-color: #39241A;
  }
.main-header-bottom-pagination {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0 300px 30px 300px;
    
  }
.pagination-item {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #8F9092;
    border-radius: 50%;
    border: 2px solid transparent;
  }
.pagination-item:hover {
    background-color: transparent;
    border: 2px solid #a89f93;
    transform: scale(1.2)
}

/* ==========================================================  2.main  ========================================================== */


.design {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF; 
}
.design-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 30px 112px;
    box-sizing: border-box;
    position: relative;
}
.design-card:after {
    content: "";
    display: block;
    width: 71px;
    height: 4px;
    background-color: #F1EEE9;
    top: 200px;
    position: absolute;
}
.design-card:hover .design-img {
    fill: #C7B299;
}
.design-card:hover .design-title {
    color: #C7B299;
}
.design-card:hover:after {
    background-color: #C7B299;
}
.design-img {
    fill: #555555;
}
.design-title {
    color: #555555;
    font-family: raleway-semibold, montserrat-light, verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 30px 0 20px;
}
.text {
    color: #8C8C8C;
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-size: 16px;
    margin: 0;
}
.design-text {
    font-size: 14px;
    width: 267px;
    text-align: center;  
}

/* ==========================================================  2.2 realization  ========================================================== */


.realization {
    background-color: #FBFAF8;
}
.realization-title {
    font-family: raleway-semibold, montserrat-light, verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #555555;
    margin: 0;
    padding: 84px 0 24px;
}
.realization-text {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.realization-img {
    width: 80%;
    min-height: 450px;
    background-image: url(../img/browser-center@1X.png), url(../img/browser-left@1X.png), url(../img/browser-right@1X.png);
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
    background-size: 51%, 50%, 50%;
    margin: 0 auto 4px auto;
    animation: anim 15s;
    animation-iteration-count: infinite;
}
.realization-img:hover {
    animation-play-state: paused;
}

/* ==========================================================  2.3 multipurpose  ========================================================== */


.multipurpose {
    background: linear-gradient(90deg, #211C19 12.69%, #4D3227 100%);
    display: flex;
    justify-content: space-around;
}
.multipurpose-title {
    margin: 0;
    color: #FFFFFF;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 28px;
    padding: 50px 0 8px;
}
.title-word {
    color: #C3AE96;
}
.multipurpose-text {
    margin: 0;
    color: #605654;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 18px;
    padding-bottom: 50px;
}
.multipurpose-link {
    align-self: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #998675;
    padding: 15px 22px;
    box-sizing: border-box;
    border-bottom: 3px solid #736257;
    border-radius: 5px;
}
.multipurpose-link:hover {
    background-color: #FFFFFF;
    color: #998675;
}   
.multipurpose-link:active {
    background-color: #4D4643;
    color: #998675;
}   


/* ==========================================================  2.4 latest  ========================================================== */


.latest {
    max-width: 1250px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.latest-menu {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 40px auto;
}
.latest-menu-link {
    padding: 11px 25px;
    box-sizing: border-box;
    font-size: 14px;
    color: #8C8C8C;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB; 
    border-radius: 3px;
}
.latest-link1:hover,
.latest-link2:hover,
.latest-link3:hover,
.latest-link4:hover,
.latest-link5:hover {
    background-color: #998675;
    color: #FFFFFF;
    border: 1px solid #998675;
}
.latest-link1:active,
.latest-link2:active,
.latest-link3:active,
.latest-link4:active,
.latest-link5:active{
    background-color:  #39241A;
    border: 1px solid  #998675;
    color: #998675;
}
.latest-all-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.latest-article {
    margin-bottom: 30px;
    position: relative;
}
.latest-article-img {
    display: block;
    width: 100%;
}
.latest-article:hover .latest-article-img {
    filter: brightness(42%);
}
.latest-article-text {
    background-color: #FBFAF8;
    padding: 30px;
    box-sizing: border-box;
}
.latest-article:hover .latest-article-text {
    background-color: #362F2D;
}
.latest-article-text::before {
    content: "";
    border: 19px solid transparent; 
    border-bottom: 15px solid #fbf8fa;
    position: absolute;
    bottom: 115px;
    left: 18px;
}
.latest-article:hover .latest-article-text::before {
    border-bottom: 15px solid #362F2D;
}
.latest-article-header {
    margin: 0 0 14px 0;
    font-family: raleway-medium, montserrat-light, verdana, sans-serif;
    font-size: 20px;
    color: #C7B299;
}
.latest-article:hover .latest-article-header {
    color: #FFFFFF;
}
.latest-article-span {
    font-family: montserrat-light, raleway-medium, verdana, sans-serif;
    font-size: 14px;
    color: #d1d1d1;
}
.latest-article:hover .latest-article-span {
    color: #C7B299;
}
/* ==============  hide  ================= */
.latest-button-link {
    position: absolute;
    bottom: 216px;
    right: 200px;
    background: none;
    border: none;
    fill: #C7B299;
    display: none;
}
.latest-button-search {
    position: absolute;
    bottom: 216px;
    right: 137px;
    background: none;
    border: none;
    fill: #FFFFFF;
    display: none;
}
/* ===================  hide  =================== */
.latest-article:hover .latest-button-link {
    display: block;
}
.latest-article:hover .latest-button-search {
    display: block;
}
.latest-article:hover .latest-button-link:hover {
    background: #FFFFFF;
    border: 1px solid #C7B299;
    border-radius: 5px;
}
.latest-article:hover .latest-button-link:active {
    background: #C7B299;
    border: 1px solid #362F2D;
    border-radius: 5px;
    fill: #362F2D;
}
.latest-article:hover .latest-button-search:hover {
    background: #C7B299;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.latest-article:hover .latest-button-search:active {
    background: #362F2D;
    border: 1px solid #C7B299;
    border-radius: 5px;
    fill: #C7B299;
}
.latest-button-load {
    display: block;
    margin: 0 auto;
    align-self: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #998675;
    padding: 20px 45px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #736257;
    border-radius: 5px;
    font-size: 14px;
    font-family: raleway-extrabold, montserrat-light, verdana, sans-serif;
    margin-bottom: 80px;
}
.latest-button-load:hover {
    background-color: #FFFFFF;
    color: #998675;
}
.latest-button-load:active {
    background-color: #4D4643;
    color: #998675;
}


/* ==========================================================  2.5 video  ========================================================== */


